body {
	background-image: linear-gradient(to bottom right, #56D371, #3ADDE0);
}

/* Left panel with all settings categories */
.side-bar {
	height: 100vh;
	background-color: #fff;
	box-shadow: 0 0 15px #555;
}

.side-bar div h1 {
	text-align: center;
}

/* Page content */
.page-img {
	margin-top: 10%;
}

.page-img > img {
	filter: drop-shadow(0 0 3px #303030);
}

/* Success button */
.btn-success {
	background-color: #3D9970;
	border-color: #317758;
}

.btn-success:hover {
	background-color: #368b66;
	border-color: #317758;
}

.btn-success:active,
.btn-success:focus,
.btn-success:active:focus {
	background-color: #398965;
	border-color: #317758;
}

/* Display form warning in correct position */
.form-warning {
	margin-top: 20px;
	text-align: center;
}

/* Keep choice groups under each other */
.radioChoice {
	display: inline;
}

/* Move OV checkboxes a bit to the right for better lay-out */
.checkbox-ov {
	margin-left: 15px;
}

/* Give color picker default back-ground color */
#uurkleur,
#minuutkleur {
	background-color: #000;
}

/* volume output */
#showVolume {
	display: inline;
}
